:root {
  --oxford-blue: #14213d;
  --platinum-gray: #e5e5e5; 
  --web-orange: #fca311;
  line-height: 1.5;

  font-size: 62.5%;
  font-family: Inter, sans-serif;
  font-weight: 400; 
}
 
body {
  display: flex;
  font-size: 1.6rem;
  background-color: var(--oxford-blue);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: var(--platinum-gray);
  row-gap: 3em;
  padding: 1em;
}

.search-field {
  margin-top: 2em;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  align-self: stretch;
}

.character-img {
  width: 100%;
}

.character-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-top: 1em;
}

span {
  font-weight: 800;
  color: var(--web-orange);
}

.character-info p {
  color: var(--platinum-gray);
}

@media screen and (min-width: 426px) and (max-width: 749px) {
  body {
    font-size: 2rem;
  }

  .main {
    padding: 0.5em;
  }

  .character-card {
    max-width: 90%;
  }
}

@media screen and (min-width: 750px) {
  body {
    display: flex;
    justify-content: center;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  body {
    font-size: 2rem;
  }

  .search-field {
    width: max-content;
  }

  .character-card {
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 1em;
    justify-items: center;
    max-width: auto;
  }

}
